/* 结构所需 */
.wraper {
	width: 1541px;
	position: relative;
	margin-left: -192px;
	background: url(../img/wrap_rp.jpeg);
}
.main {
	background: url(../img/wrap_bg_version.jpeg) no-repeat right top;
}

/* 版本中心 */
.column ul {
	margin: 0 0 50px -16px;
}
.column ul li {
	float: left;
	margin: 16px 0 0 16px;
}
.vs-pic {
	width: 356px;
	position: relative;
}
.vs-pic a img {
	width: 100%;
}
.vs-pic div {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	line-height: 40px;
	text-indent: 20px;
	color: #d5581b;
	font-size: 14px;
}
.vs-pic p {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #111922;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.vs-pic b {
	position: relative;
}
.vs-info {
	height: 160px;
	padding: 15px 20px;
	background: #fff;
}
.vs-info h3 {
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	color: #6a6d7a;
	border-bottom: 1px dotted #c4bfcb;
}
.vs-info p {
	height: 72px;
	padding: 10px 0 5px;
	color: #a9afb7;
	font-size: 12px;
	line-height: 24px;
}